<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-item-center">
                <div class="header__img">
                    <img src="./img/image 7.png" alt="image 7">
                </div>
                <div class="header__btn_foto">
                    <button>
                        Змінити фото
                    </button>
                </div>
                <div class="header__btn_delete">
                    <button>
                        Видалити
                    </button>
                </div>
            </div>
            <form>
                <div class="form__name"></div>
                <div class="for__surname"></div>
            </form>
        </div>
</header>